* {
    margin: 0px;
    padding:  0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: #222222;
}

.card{
    width: 100%;
    max-width: 470px;
    
    background: linear-gradient(-45deg, #00C9FF 0%, #92FE9D 100%);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    border: none;
    box-shadow: 0 0 10px #fff;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 6px #fff;
    transition: 1s;
}
.search input:hover{
    box-shadow: 0 0 10px #fff;
    transform: scale(1.03);
    transition: 1s;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 6px #fff;
    transition: 1s;
    cursor: pointer;
}
.search button:hover{
    box-shadow: 0 0 10px #fff;
    transform: scale(1.03);
    transition: 1s;
}

.search button svg{
    width: 30px;
}
.weather img{
    height: 150px;
    width: 150px;
    margin-top: 10px;
}
.weather h1{
    font-size: 50px;
    font-weight: 500;
    font-family: "Roboto Condensed", sans-serif;
}
.weather-icons{
    margin-bottom: 10px;
}
.weather h2{
    font-size: 45px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col svg{
    width: 50px;
    height: 40px;
    margin-right: 10px;
}
.humidity, .wind{
     font-size: 28px;
     margin-top: -6px;
}
.error{
    font-size: 20px;
    display: none;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;

}


